/* Color Theme Swatches in Hex */
.azules-1-hex { color: #2426FF; }
.azules-2-hex { color: #2679E8; }
.azules-3-hex { color: #36E0FF; }
.azules-4-hex { color: #26E8B1; }
.azules-5-hex { color: #2AFF63; }


/* Color Theme Swatches in Hex */
.nutrieduc®-1-hex { color: #96D9D9; }
.nutrieduc®-2-hex { color: #C2F2F2; }
.nutrieduc®-3-hex { color: #D4D948; }
.nutrieduc®-4-hex { color: #F2EB88; }
.nutrieduc®-5-hex { color: #F2E5A2; }


*{
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    background: black;
}

header{
    text-align: center;
    background: #000;
    color: #fff;
    padding: 10px 0;
}

.container{
    max-width: 700px;
    margin: auto;
    padding: 20px;
    background: white;
}

section{
    border: 2px solid #5624d0;
    border-radius: 7px;
    padding: 10px;
    margin: 10px 0;
}

label{
    display: block;
    padding: 7px;
    border-radius: 7px;
    cursor: pointer;
    border: 1px dashed #ccc;
    margin-bottom: 3px;
}

label:hover{
    background: #cec0fc;
}

button{
    width: 80%;
    display: block;
    margin: auto;
    padding: 10px;

    background-color: #76d7c8;
    border: none;
    cursor: pointer;
    border-radius: 20px;
}

button:hover{
    background: #000;
    color: #fff;
}

h2{
    text-align: center;
}

#resultado{
    font-size: 30px;
    color: darkred;
}
