/* Color Theme Swatches in Hex */
/* Color Theme Swatches in Hex */
/* Color Theme Swatches in Hex */
/* Color Theme Swatches in Hex */
.The-Blue-Girl-With-Animated-Eyes-1-hex { color: #2451F2; }
.The-Blue-Girl-With-Animated-Eyes-2-hex { color: #27BBF2; }
.The-Blue-Girl-With-Animated-Eyes-3-hex { color: #F2E205; }
.The-Blue-Girl-With-Animated-Eyes-4-hex { color: #F2A71B; }
.The-Blue-Girl-With-Animated-Eyes-5-hex { color: #00FF90; }


/* Color Theme Swatches in Hex */
.Celebration-background-with-confetti-and-gold-balloons-1-hex { color: #F2DFA7; }
.Celebration-background-with-confetti-and-gold-balloons-2-hex { color: #D9A25F; }
.Celebration-background-with-confetti-and-gold-balloons-3-hex { color: #403323; }
.Celebration-background-with-confetti-and-gold-balloons-4-hex { color: #A65005; }
.Celebration-background-with-confetti-and-gold-balloons-5-hex { color: #592202; }

/* Color Theme Swatches in Hex */
.Tech-Alternative-1-hex { color: #08DDEB; }
.Tech-Alternative-2-hex { color: #E3FFFE; }
.Tech-Alternative-3-hex { color: #016587; }
.Tech-Alternative-4-hex { color: #CAFF00; }
.Tech-Alternative-5-hex { color: #A2F801; }


:root{
    --cor1: #F2DFA7;
    --cor2: #D9A25F;
    --cor3: #403323;
    --cor4: #A65005;
    --cor5: #592202;
}



*{
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}


body{
    background-image: linear-gradient(to bottom, var(--cor4), var(--cor5));
    min-height: 100vh;
}
header{
    text-align: center;
    background: #000;
    color: #fff;
    padding: 10px 0;
}

main{
    max-width: 700px;
    margin: auto;
    padding: 20px;
    background: white;
    box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.219);
    /*background: #F2BF91;*/
}

section{
    /*border: 1px solid var(--cor4);*/
    border-radius: 7px;
    padding: 10px;
    margin: 10px 0;
    background: var(--cor1);
    color: black;
}

label{
    background: white;
    display: block;
    padding: 7px;
    border-radius: 7px;
    cursor: pointer;
    border: 1px solid var(--cor4);
    margin-bottom: 3px;
}

label:hover{
    background: #5922026e;
}

button{
    width: 80%;
    display: block;
    margin: auto;
    padding: 10px;

    background-color: #76d7c8;
    border: none;
    cursor: pointer;
    border-radius: 20px;
}

button:hover{
    background: #000;
    color: #fff;
}

h2{
    text-align: center;
}

#resultado{
    font-size: 30px;
    color: darkred;
}
