
/* Color Theme Swatches in Hex */
.technology-1-hex { color: #CCE7F2; }
.technology-2-hex { color: #89D6FB; }
.technology-3-hex { color: #02A9F7; }
.technology-4-hex { color: #02577A; }
.technology-5-hex { color: #01303F; }



:root{
    --cor1: #CCE7F2;
    --cor2: #89D6FB; 
    --cor3: #02a9f7;
    --cor4: #02577A;
    --cor5: #01303F;
    --cor6: #83e1ad;
    --cor7: #3ddc84;
}

body{
    background-image: linear-gradient(to bottom, var(--cor4),var(--cor5));
    min-height: 100vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


header{
    text-align: center;
    background: var(--cor5);
    color: #fff;
    padding: 10px 0;
}

main{
    max-width: 660px;
    margin: auto;
    padding: 20px;
    background: var(--cor1);
    border-radius: 0px 0px 10px 10px;
}

.conteudo{
    /*border:  1px solid black;*/
    border-radius: 10px;
    margin: 20px auto 40px auto;
    padding: 20px;
    background: white;
    text-align: justify;
    box-shadow: 4px 4px var(--cor5);
}
    .conteudo p{
        margin: 0px;
        /*top: -5px;*/

    }

.conceito{
     /*border:  1px solid black;*/
    width: 60%;
    margin: 10px auto;
    padding: 10px;
    background: var(--cor4);
    /*border-radius: 2px 2px 2px 2px;*/
    font-size: 90%;
    box-shadow: 10px 10px var(--cor5);
    color: white;
}
    .conceito p{
        position: relative;
        margin: 0px;
        top: 1px;
    }

h1{
    font-size: auto;
    margin-top: 0px;
    border-radius: 8px 8px 8px 8px;
    color: var(--cor5);
    padding: 5px 0px 5px 10px;
    background-image: linear-gradient(to right, var(--cor5), var(--cor4));
    /*background: var( --cor5);*/
    /*text-shadow: 1px 1px 2px #012f3f67;*/
    color: white;
}

.sub-titulo1{
    position: relative;
    background: var(--cor5);
    margin: 0px;
    left: -30px;
    right: 0;
    top: -30px;
    width: 70%;
    border-radius: 12px;
    padding: 5px 5px 5px 15px;
    box-shadow: 0 1px 3px 0 #0000003b;
    color: white;
/* deslocamento-x | deslocamento-y | raio de desfoque | raio de propagação | cor */
}

#paragrafo-dos-links{
    text-align: center;
}

.voltar{
    width: 200px;
    height: 200px;
}

#paragrafo-dos-links i{
    font-size: 50px;
    color: var(--cor5);
}

#paragrafo-dos-links i:hover{
    color: var(--cor3);
}