
/* Color Theme Swatches in Hex */
.technology-1-hex { color: #CCE7F2; }
.technology-2-hex { color: #89D6FB; }
.technology-3-hex { color: #02A9F7; }
.technology-4-hex { color: #02577A; }
.technology-5-hex { color: #01303F; }



:root{
    --cor1: #CCE7F2;
    --cor2: #89D6FB; 
    --cor3: #02a9f7;
    --cor4: #02577A;
    --cor5: #01303F;
    --cor6: #83e1ad;
    --cor7: #3ddc84;
}

body{
    background-image: linear-gradient(to bottom, var(--cor4),var(--cor5));
    min-height: 100vh;
    font-family:  Arial, sans-serif;
}

main{
    max-width: 620px;
    margin: auto;
    padding: 20px;
    background: var(--cor1);
    border-radius: 0px 0px 10px 10px;
}

.conteudo{
    border:  1px solid var(--cor5);
    border-radius: 10px;
    margin: 20px auto 30px auto;
    padding: 10px 20px 20px 20px;
    background: white;
    text-align: justify;
    box-shadow: 4px 4px var(--cor5);
}
    .conteudo p{
        margin: 0;
    }

.conceito{
     /*border:  1px solid black;*/
    width: 60%;
    margin: 10px auto 20px auto;
    padding: 10px;
    background: var(--cor4);
    /*border-radius: 2px 2px 2px 2px;*/
    font-size: 90%;
    box-shadow: 10px 10px var(--cor5);
    color: white;
}
    .conceito p{
        position: relative;
        margin: 0px;
        top: 1px;
        margin: 0px;
    }

h1{
    font-size: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    border-radius: 8px 8px 8px 8px;
    color: var(--cor5);
    padding: 5px 0px 5px 10px;
    background-image: linear-gradient(to right, var(--cor5), var(--cor4));
    /*background: var( --cor5);*/
    /*text-shadow: 1px 1px 2px #012f3f67;*/
    color: white;
    font-size: 1.4em;
}

.sub-titulo1{
    border:  1px solid var(--cor5);
    position: relative;
    background: var(--cor4);
    margin: 0px;
    left: -30px;
    right: 0;
    top: -20px;
    width: 70%;
    border-radius: 12px;
    padding: 5px 5px 5px 15px;
    box-shadow: 0 1px 3px 0 #0000003b;
    color: white;
    font-size: 1em;

/* deslocamento-x | deslocamento-y | raio de desfoque | raio de propagação | cor */
}

#paragrafo-dos-links{
    text-align: center;
    margin: 0;
}

.voltar{
    width: 200px;
    height: 200px;
}

#paragrafo-dos-links i{
    font-size: 50px;
    color: var(--cor5);
}

#paragrafo-dos-links i:hover{
    color: var(--cor3);
}



/*  ESTILO DO HEADER*/

header{
    align-items: right;
    margin: auto;
    background-color: var(--cor4);
    min-height: 40px;
    /* text-align: right; */
    background-color: var(--cor5);
    padding-top: 40px;
    /* padding-right: 40px; */
    max-width: 660px;
}

.div-header{
    /* align-items: center; */
}

.dropdown{
    margin: 0;
    text-align: center;
    padding: 10px;
    top: 88px;
    position: absolute;
    display: none;
    background-color: #83e1ad;
    /* text-align: right; */
    max-width: 600px;
}
.dropdown ul li{

}