



/* Color Theme Swatches in Hex */
.technology-1-hex { color: #CCE7F2; }
.technology-2-hex { color: #89D6FB; }
.technology-3-hex { color: #02A9F7; }
.technology-4-hex { color: #02577A; }
.technology-5-hex { color: #01303F; }



:root{
    --cor1: #CCE7F2;
    --cor2: #89D6FB; 
    --cor3: #02a9f7;
    --cor4: #02577A;
    --cor5: #01303F;
    --cor6: #83e1ad;
    --cor7: #3ddc84;
}

body{
    background-image: linear-gradient(to bottom, var(--cor4),var(--cor5));
    min-height: 100vh;
}


header{
    text-align: center;
    background: var(--cor5);
    color: #fff;
    padding: 10px 0;
}

main{
    max-width: 700px;
    margin: auto;
    padding: 20px;
    background: white;
    border-radius: 0px 0px 10px 10px;
}

.conteudo{
    /*border:  1px solid black;*/
    border-radius: 10px;
    margin: 20px auto;
    padding: 20px;
    background: var(--cor1);
    text-align: justify;
    box-shadow: 4px 4px var(--cor5);
}
    .conteudo p{
        position: relative;
        margin: 0px;
        top: -5px;

    }

.conceito{
     /*border:  1px solid black;*/
    width: 85%;
    margin: 10px auto;
    padding: 10px;
    background: var(--cor3);
    border-radius: 5px 20px 5px 20px;
    font-size: 70%;
    box-shadow: 0 1px 1px 0 #0000003b;
}
    .conceito p{
        position: relative;
        margin: 0px;
        top: 1px;
    }

h1{
    margin-top: 0px;
    border-radius: 0px 0px 0px 20px;
    color: var(--cor5);
    padding: 5px 0px 5px 10px;
    background-image: linear-gradient(to right, var(--cor2), transparent);
    text-shadow: 1px 1px 2px #012f3f67;
}

h2{
    color: var(--cor5);
}

.sub-titulo1{
    position: relative;
    background: var(--cor1);
    margin: 0px;
    left: -30px;
    right: 0;
    top: -30px;
    width: 70%;
    border-radius: 12px;
    padding: 5px 5px 5px 15px;
    box-shadow: 0 1px 3px 0 #0000003b;
    
/* deslocamento-x | deslocamento-y | raio de desfoque | raio de propagação | cor */
}


#botao-continuar{
    width: 100px;
    height: 50px;
    background: blanchedalmond;
    margin: auto;
    cursor: pointer;
    text-align: center;
    padding-top: 25px;
}

#botao-voltar{
    width: 100px;
    height: 50px;
    background: blanchedalmond;
    margin: auto;
    cursor: pointer;
    text-align: center;
    padding-top: 25px;
}

.continuar-voltar{
    background-color: #3ddc84;
}