:root{
    --cor1: #CCE7F2;
    --cor2: #89D6FB; 
    --cor3: #02a9f7;
    --cor4: #02577A;
    --cor5: #01303F;
    --cor6: #83e1ad;
    --cor7: #3ddc84;
}


*{
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


body{
    background-image: linear-gradient(to bottom, var(--cor4),var(--cor5));
    min-height: 100vh;
    padding: 0;
    margin: 0;
}
header{
    text-align: center;
    background: #000;
    color: #fff;
    padding: 10px 0;
}

main{
    max-width: 840px;
    margin: auto;
    padding: 20px;
    background: white;
    box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.219);
    border-radius: 0px 0px 10px 10px;
    /*background: #F2BF91;*/
}

section{
    /*border: 1px solid var(--cor4);*/
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0;
    background: var(--cor1);
    color: black;
    box-shadow: 0 1px 3px 0 #00000082;
}

label{
    background: white;
    display: block;
    padding: 7px;
    border-radius: 7px;
    cursor: pointer;
    border: 1px solid var(--cor4);
    margin-bottom: 3px;
}

label:hover{
    background: var(--cor3);
}

button{
    width: 80%;
    display: block;
    margin: auto;
    padding: 10px;
    background-color: var(--cor3);
    border: none;
    cursor: pointer;
    border-radius: 20px;
}

button:hover{
    background: var(--cor4);
    color: #fff;
}

h2{
    text-align: center;
}

#resultado{
    font-size: 30px;
    color: var(--cor3);
}

#paragrafo-dos-links{
    text-align: center;
}

#paragrafo-dos-links i{
    font-size: 50px;
    color: var(--cor5);
}

#paragrafo-dos-links i:hover{
    color: var(--cor3);
}