:root{
    --cor1: #CCE7F2;
    --cor2: #89D6FB; 
    --cor3: #02a9f7;
    --cor4: #02577A;
    --cor5: #01303F;
    --cor6: #83e1ad;
    --cor7: #3ddc84;
}


*{
    /* box-sizing: border-box; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


body{
    background-image: linear-gradient(to bottom, var(--cor4),var(--cor5));
    min-height: 100vh;
    padding: 0;
    margin: 0;
}


main{
    max-width: 840px;
    margin: auto;
    padding: 20px;
    background: white;
    box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.219);
    border-radius: 0px 0px 10px 10px;
    /*background: #F2BF91;*/
}

section{
    border: 1px solid var(--cor3);
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0;
    background: var(--cor1);
    color: black;
    box-shadow: 0 1px 3px 0 #00000082;
}

label{
    background: white;
    display: block;
    padding: 7px;
    border-radius: 7px;
    cursor: pointer;
    border: 1px solid var(--cor4);
    margin-bottom: 3px;
}

label:hover{
    background: var(--cor3);
}

button{
    width: 80%;
    display: block;
    margin: auto;
    padding: 10px;
    background-color: var(--cor1);
    border: none;
    cursor: pointer;
    border-radius: 20px;
}

button:hover{
    background: var(--cor4);
    color: #fff;
}

h2{
    text-align: center;
    border: solid #02a9f7;
    padding: 10px;
    background: var(--cor2);
    color: var(--cor5);
    border-radius: 25px;
}

#resultado{
    font-size: 30px;
    color: var(--cor3);
}

#paragrafo-dos-links{
    text-align: center;
}

#paragrafo-dos-links i{
    font-size: 50px;
    color: var(--cor5);
}

#paragrafo-dos-links i:hover{
    color: var(--cor3);
}


/*  ESTILO DO HEADER #####################################################*/

header{
    align-items: right;
    margin: auto;
    height: 60px;
    background-color: var(--cor5);
    max-width: 840px;
}

.div-header{
    padding-top: 10px;
    z-index: 1;
    position: relative;
    display: none;
    max-width: 70%;
    max-height: 400px;
    background-color: #012f3fea;
    top: 60px;
    margin: 0px auto 0px 10px;
}

.dropdown{
    margin: 0;
    text-align: center;
    max-height: 400px;
    overflow-y: auto;
}
.dropdown a{
    color: var(--cor1);
    text-decoration: none;
    padding: 4px 10px;
    border-radius: 10px;
}
    .dropdown a:hover{
        background: #02A9F7;
    }
.dropdown::-webkit-scrollbar{
    width: 10px;
}

.dropdown::-webkit-scrollbar-thumb{
    background: #02a9f7;
    border-radius: 10px;
}


.div-botao-voltar{
    background-color: var(--cor5);
    max-width: 100%;
    height: 20px;
    text-align: center;
    cursor: pointer;
    padding-top: 1%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
        .div-botao-voltar i{
            color: var(--cor1);
            font-weight: 900;
        }
        .div-botao-voltar:hover{
            background-color: var(--cor3);
        }


.botao{
    cursor: pointer;
    background: none;
    padding: 0;
    margin: 0;
    font-size: 45px;
    font-weight: 900;
    color: var(--cor3)
}

.botao-home{
    border-radius: 50%;
    padding: 10px;
    border: solid var(--cor1);
}
.botao-home:hover{
    cursor: pointer;
    background-color: var(--cor3);
}

#resultado{
    color: var(--cor5);
}